[submodule "makexpi"]
	path = makexpi
	url = https://github.com/piroor/makexpi.git
[submodule "extlib/fxaddonlib-animation-manager"]
	path = extlib/fxaddonlib-animation-manager
	url = https://github.com/piroor/fxaddonlib-animation-manager.git
[submodule "extlib/fxaddonlib-prefs"]
	path = extlib/fxaddonlib-prefs
	url = https://github.com/piroor/fxaddonlib-prefs.git
[submodule "extlib/fxaddonlib-stringbundle"]
	path = extlib/fxaddonlib-stringbundle
	url = https://github.com/piroor/fxaddonlib-stringbundle.git
[submodule "extlib/fxaddonlib-inherit"]
	path = extlib/fxaddonlib-inherit
	url = https://github.com/piroor/fxaddonlib-inherit.git
[submodule "extlib/fxaddonlib-extensions"]
	path = extlib/fxaddonlib-extensions
	url = https://github.com/piroor/fxaddonlib-extensions.git
[submodule "extlib/fxaddonlib-boxobject"]
	path = extlib/fxaddonlib-boxobject
	url = https://github.com/piroor/fxaddonlib-boxobject.git
[submodule "extlib/js-extended-immutable"]
	path = extlib/js-extended-immutable
	url = https://github.com/clear-code/js-extended-immutable.git
[submodule "submodules/webextensions-lib-configs"]
	path = submodules/webextensions-lib-configs
	url = https://github.com/piroor/webextensions-lib-configs.git
[submodule "submodules/webextensions-lib-event-listener-manager"]
	path = submodules/webextensions-lib-event-listener-manager
	url = https://github.com/piroor/webextensions-lib-event-listener-manager.git
