#__moz_xmigemo-found-marker-canvas {
	position: fixed !important;
	z-index: 1000200 !important;
	right: 0 !important;
	top: 0 !important;
	bottom: 0 !important;
	opacity: 0.9;
}

#__moz_xmigemo-found-marker-canvas:hover {
	opacity: 1;
}


.xmigemo-marker-dummyScrollbarBox {
	position: fixed !important;
	bottom: 0 !important;
	left: 0 !important;
	visibility: hidden !important;
}
