/*
# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.
*/

:root {
  /* https://dxr.mozilla.org/mozilla-central/rev/b056526be38e96b3e381b7e90cd8254ad1d96d9d/browser/themes/windows/browser.css#45 */
  --focused-item-bgcolor: var(--in-content-button-background);
  --focused-item-textcolor: var(--in-content-text-color);
  --search-field-bordercolor: var(--in-content-box-border-color-mixed);
  --search-field-bgcolor: var(--in-content-box-background);
  --search-field-textcolor: var(--in-content-text-color);
  --bounding-margin: 0.85em;

  font-size: medium;
}

:root[data-theme="dark"] {
  --bg-color: var(--dark-popup);
  --text-color: var(--dark-popup-text);
  --in-content-page-background: #2A2A2E /* rgb(42, 42, 46) */;
  --in-content-button-background: rgba(249,249,250,0.1);
  --in-content-border-hover: rgba(249,249,250,0.3);

  --in-content-box-background: var(--dark-popup);
  --in-content-box-border-color-mixed: var(--dark-popup-border);
  --in-content-text-color: var(--dark-popup-text);
  --search-field-bordercolor: var(--dark-toolbar-field-border);
  --search-field-bgcolor: var(--dark-toolbar-field);
  --search-field-textcolor: var(--dark-toolbar-field-text);
/*
  --tab-active-marker: #0a84ff;
  --tab-active-marker-inactive: rgba(255, 255, 255, 0.2);
*/
  scrollbar-color: var(--in-content-border-hover) var(--in-content-page-background);
}

@media (prefers-color-scheme: dark) {
  :root {
    --in-content-box-background: var(--dark-popup);
    --in-content-box-border-color-mixed: var(--dark-popup-border);
    --in-content-text-color: var(--dark-popup-text);
    --search-field-bordercolor: var(--dark-toolbar-field-border);
    --search-field-bgcolor: var(--dark-toolbar-field);
    --search-field-textcolor: var(--dark-toolbar-field-text);
    scrollbar-color: var(--in-content-border-hover) var(--in-content-page-background);
  }
}

/*
*, *::before { border:1px solid red; }
*/

#search-field-wrapper::before,
#search-results li::before,
.title::before {
  background: transparent;
  color: inherit;
  content: " ";
  display: inline-block;
  height: 1em;
  line-height: 1em;
  min-height: 1em;
  min-width: 1em;
  margin-right: 0.25em;
  mask: none no-repeat center / 100%;
  max-height: 1em;
  max-width: 1em;
  width: 1em;
}

body {
  background: var(--bg-color);
  color: var(--text-color);
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  font-size: medium;
  line-height: 1;
  max-width: var(--panel-width);
  min-width: var(--panel-width);
  width: var(--panel-width);

  --panel-width: 50em;
}

#search-field-container {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  font-size: medium;
  margin: var(--bounding-margin) var(--bounding-margin) 0.65em;
  padding: 0 0 0 1em;
}

#search-field-wrapper {
  align-items: center;
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  flex-wrap: nowrap;
  margin: 0;
  min-width: 0;
}
#search-field {
  flex-grow: 1;
  font: -moz-field;
  margin: 0;
  min-width: 0;
}
:root:not([theme="default"]) #search-field {
  background: var(--search-field-bgcolor);
  border: 1px solid var(--search-field-bordercolor);
  border-radius: 0.2em;
  color: var(--search-field-textcolor);
  padding: 0.3em 0.5em;
}

#search-field-wrapper::before {
  background: var(--in-content-deemphasized-text);
  mask-image: url("/resources/Search.svg");
}

#search-field.focused {
  ime-mode: inactive !important;
}

#search-progress {
  -moz-appearance: none;
  appearance: none;
  border: 0 none;
  min-height: 2px;
  max-height: 2px;
}

#search-progress:not([value]),
#search-progress[value="100"] {
  visibility: hidden;
}

#search-results {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  list-style: none;
  margin: 0;
  max-height: 20em;
  overflow-x: hidden;
  overflow-y: auto;
  padding: 0;
  position: relative;
  scrollbar-width: thin;
  transition: left ease 0.15s,
              opacity ease 0.15s;
}

#search-results li {
  align-items: center;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  line-height: 1.3;
  margin: 0;
  padding: 0.25em calc(var(--bounding-margin) + 0.5em) 0.25em var(--bounding-margin); /* right padding should be enough large to show scrollbar */
}

#search-results li.bookmark::before {
  background: currentColor;
  mask-image: url("/resources/Bookmark.svg");
}
#search-results li.tab::before {
  background: currentColor;
  mask-image: url("/resources/Tab.svg");
}

#search-results li.active {
  background: var(--focused-item-bgcolor);
  color: var(--focused-item-textcolor);
}

.title,
.url {
  overflow: hidden;
  text-overflow: ".." /* ellipsis */;
  white-space: pre;
}

.title .label,
.url {
  font: -moz-field;
}

.title {
  /*max-width: calc(var(--panel-width) * 0.6);*/
  max-width: calc(var(--panel-width) * 0.7);
}
.title::before {
  background: currentColor;
  mask-image: url("/resources/Globe.svg");
}

.url {
  color: var(--in-content-deemphasized-text);
}
.url::before {
  content: "";
  display: inline-block;

  border-top: 1px solid;
  line-height: 0;
  margin: 0 0.2em;
  opacity: 0.65;
  pointer-events: none;
  position: relative;
  top: 0.5ex;
  width: 1.5em;
}

.title em,
.url em {
  font-style: normal;
  font-weight: bold;
}

.favicon {
  max-height: 16px;
  max-width: 16px;
  min-width: 16px;
}

input:focus {
  border-color: var(--in-content-border-active);
  box-shadow: none;
}
