@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");
@namespace html url("http://www.w3.org/1999/xhtml");

#FindToolbar[labelhidden="true"] toolbarbutton > label[value=""] {
	visibility: collapse !important;
}

*|*[_moz-xmigemo-disable-ime="true"] {
	ime-mode: disabled !important;
}
*|*[_moz-xmigemo-inactivate-ime="true"] {
	ime-mode: inactive !important;
}


findbar#FindToolbar[_moz-xmigemo-position="belowtabbar"],
findbar#FindToolbar[_moz-xmigemo-position="belowtabbar"] > [anonid="findbar-container"] {
	overflow: hidden;
}

#FindToolbar [anonid="find-status"],
toolbar#FindToolbar label#find-status {
	-moz-box-flex: 1;
}

:root[splitbrowser-split="true"] #FindToolbar[_moz-xmigemo-position="belowtabbar"] [anonid="find-status"] {
	font-size: 1px;
	visibility: hidden;
}

toolbar#FindToolbar[_moz-xmigemo-position="belowtabbar"] {
	-moz-binding: url("chrome://xulmigemo/content/xulmigemo.xml#find-toolbar");
}
