@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");
@namespace html url("http://www.w3.org/1999/xhtml");

:root[data-xmigemo-disable-ime~="FIND_MODE_MIGEMO"]
  findbar[data-xmigemo-find-mode="FIND_MODE_MIGEMO"]
  html|input {
	ime-mode: disabled !important;
}
:root[data-xmigemo-inactivate-ime~="FIND_MODE_MIGEMO"]
  findbar[data-xmigemo-find-mode="FIND_MODE_MIGEMO"]
  html|input {
	ime-mode: inactive !important;
}

#find-migemo-mode-box {
	bottom: 0;
	position: fixed;
	top: auto;
	transition: bottom 150ms ease-in-out,
				opacity 150ms ease-in-out;
}

#find-migemo-mode-box[hidden="true"] {
	display: -moz-box;
	bottom: -1em;
	opacity: 0;
	top: auto;
	visibility: collapse;
	transition-delay: 0s, 0s;
}

#find-mode-selector {
	width: 100%;
}
