.status-box {
	border: thin -moz-bg-inset;
	padding: 0.5em;
}


label[value=""]:empty,
description[value=""]:empty,
.shrinked-label[value=""]:empty {
	display: none;
}


#startInTemporaryModeRow-template {
	display: none;
}
