/* 属性名がすべて小文字なのは、application/xhtml+xmlのページでは
   XMLパーサ上では属性名の大文字小文字が区別されずにすべて小文字に
   正規化されてしまい、大文字小文字を区別するCSSの属性セレクタが
   適用されなくなってしまうため */
:root[__moz_xmigemo-find-highlight-screen="on"] *:not(.__moz_xmigemo-positioned),
:root[__moz_xmigemo-find-highlight-animation="on"] *:not(.__moz_xmigemo-positioned) {
	z-index: auto !important;
}
:root[__moz_xmigemo-find-highlight-screen="on"] .__mozilla-findbar-search,
:root[__moz_xmigemo-find-highlight-screen="on"] .searchwp-term, /* SearchWP */
:root[__moz_xmigemo-find-highlight-screen="on"] .searchwp-term-highlight1,
:root[__moz_xmigemo-find-highlight-screen="on"] .searchwp-term-highlight2,
:root[__moz_xmigemo-find-highlight-screen="on"] .searchwp-term-highlight3,
:root[__moz_xmigemo-find-highlight-screen="on"] .searchwp-term-highlight4,
:root[__moz_xmigemo-find-highlight-screen="on"] .GBL-Highlighted, /* Googlebar Lite */
:root[__moz_xmigemo-find-highlight-animation="true"] .__mozilla-findbar-search,
:root[__moz_xmigemo-find-highlight-animation="true"] .searchwp-term,
:root[__moz_xmigemo-find-highlight-animation="true"] .searchwp-term-highlight1,
:root[__moz_xmigemo-find-highlight-animation="true"] .searchwp-term-highlight2,
:root[__moz_xmigemo-find-highlight-animation="true"] .searchwp-term-highlight3,
:root[__moz_xmigemo-find-highlight-animation="true"] .searchwp-term-highlight4,
:root[__moz_xmigemo-find-highlight-animation="true"] .GBL-Highlighted {
	position: relative !important;
	z-index: 3000000 !important;
	text-shadow: none !important;
}

.__mozilla-findbar-animation {
	display: none !important;
}
:root[__moz_xmigemo-find-highlight-screen="on"] #__firefox-findbar-search-id > .__mozilla-findbar-animation,
:root[__moz_xmigemo-find-highlight-screen="on"] .__mozilla-findbar-search > .__mozilla-findbar-animation,
:root[__moz_xmigemo-find-highlight-screen="on"] .searchwp-term > .__mozilla-findbar-animation,
:root[__moz_xmigemo-find-highlight-screen="on"] .searchwp-term-highlight1 > .__mozilla-findbar-animation,
:root[__moz_xmigemo-find-highlight-screen="on"] .searchwp-term-highlight2 > .__mozilla-findbar-animation,
:root[__moz_xmigemo-find-highlight-screen="on"] .searchwp-term-highlight3 > .__mozilla-findbar-animation,
:root[__moz_xmigemo-find-highlight-screen="on"] .searchwp-term-highlight4 > .__mozilla-findbar-animation,
:root[__moz_xmigemo-find-highlight-screen="on"] .GBL-Highlighted > .__mozilla-findbar-animation,
:root[__moz_xmigemo-find-highlight-animation="true"] #__firefox-findbar-search-id > .__mozilla-findbar-animation,
:root[__moz_xmigemo-find-highlight-animation="true"] .__mozilla-findbar-search > .__mozilla-findbar-animation,
:root[__moz_xmigemo-find-highlight-animation="true"] .searchwp-term > .__mozilla-findbar-animation,
:root[__moz_xmigemo-find-highlight-animation="true"] .searchwp-term-highlight1 > .__mozilla-findbar-animation,
:root[__moz_xmigemo-find-highlight-animation="true"] .searchwp-term-highlight2 > .__mozilla-findbar-animation,
:root[__moz_xmigemo-find-highlight-animation="true"] .searchwp-term-highlight3 > .__mozilla-findbar-animation,
:root[__moz_xmigemo-find-highlight-animation="true"] .searchwp-term-highlight4 > .__mozilla-findbar-animation,
:root[__moz_xmigemo-find-highlight-animation="true"] .GBL-Highlighted > .__mozilla-findbar-animation {
	display: block !important;
}

.__mozilla-findbar-animation,
/* セレクタを重ねて詳細度を上げておかないと、rubysupportのスタイル指定に負けてしまう */
:root[__moz_xmigemo-find-highlight-screen="on"] .__mozilla-findbar-animation,
:root[__moz_xmigemo-find-highlight-animation="true"] .__mozilla-findbar-animation {
	-moz-binding: url("chrome://xulmigemo/content/highlight/highlight.xml#animation-box") !important;
	position: absolute !important;
	z-index: 3000100 !important;
	padding: 0 !important;
	color: black !important;
	background: #ffdf00 !important;
	outline: #ff9500 2px solid !important;
	-moz-outline: #ff9500 2px solid !important;
	-moz-outline-radius: 6px !important;
}
.__mozilla-findbar-animation-inner-box {
	position: absolute !important;
	top: 50% !important;
	margin: -1em 0 0 !important;
	left: 0 !important;
	right: 0 !important;
	line-height: 2 !important;
}
.__mozilla-findbar-animation,
:root[__moz_xmigemo-find-highlight-screen="on"] .__mozilla-findbar-animation,
:root[__moz_xmigemo-find-highlight-animation="true"] .__mozilla-findbar-animation,
.__mozilla-findbar-animation-inner-box {
	text-indent: 0 !important;
	text-align: center !important;
	vertical-align: baseline !important;
	white-space: pre !important; /* 折り返しに対してはとりあえず何もしない…… */
	overflow: hidden !important;
	text-decoration: none !important;
	padding: 0 !important;
}

/* for Firefox 3.5- */
:root[__moz_xmigemo-find-highlight-screen="on"] .__mozilla-findbar-search {
	color: black !important;
	background: yellow !important;
}

#__moz_xmigemo-find-highlight-screen {
	top: 0 !important;
	right: 0 !important;
	bottom: 0 !important;
	left: 0 !important;
	border: 0 !important;
	margin: 0 !important;
	padding: 0 !important;
	background: #000000 !important;
	position: fixed !important;
	opacity: 0.3 !important;
	-moz-opacity: 0.3 !important;
	display: none !important;
	z-index: 1000000 !important;
}
:root[__moz_xmigemo-find-highlight-screen="on"] > body > #__moz_xmigemo-find-highlight-screen {
	display: block !important;
}
:root[__moz_xmigemo-find-highlight-screen="on"] embed {
	visibility: hidden !important;
}
:root[__moz_xmigemo-find-highlight-screen="on"] iframe {
	position: relative;
	z-index: 2000000 !important;
}
